<div id="activitiesPage">
    @*<script>
            require(["ViewModels/Activity", "ViewModels/Activities"], function (activityViewModel, activitiesViewModel) {
                $(document).ready(function () {
                    $.ajax({
                        url: "http://localhost:29196/activity/",
                        context: document.body
                    }).done(function (data) {

                        // Overall viewmodel for this screen, along with initial state
                        activeActivities = new activitiesViewModel(data);

                        ko.applyBindings(activeLocations);

                    });
                });
            });
        </script>*@
    <div id="Canvas" class="col-md-6" style="margin-top:5%;">
        <div data-bind="template: { name: 'activitiesTempl' }"></div>
    </div>

    <script id="activitiesTempl" type="text/html">
        <div data-bind="foreach: activities">
            <div class="well">
                <!--TODO: Make these two buttons sexy looking-->
                @*<button class="btn btn-primary btn" data-bind="attr: { id : id }, click: $root.toggleActive" style="color:blue;">Toggle Active</button>
                    <button class="btn btn-primary btn" data-bind="click: $root.showUpdateLocationModal" data-toggle="modal" data-target="#updateLocationDetailsModal">Update</button>
                    <button class="btn btn-primary btn" data-bind="attr: { id : 'sportName_' + id() }, click: $root.hideDetails " style="color:blue;">Details</button>
                    <button class="btn btn-primary btn" data-bind="attr: { id : id }, click: $root.deleteLocation" style="color:blue;">Delete</button>*@
                <h3>Name: <strong data-bind="text: name"></strong></h3>

                <ul data-bind="attr: { id : 'activityDetails_' + id() }" style="display:none">
                    <li>
                        <div>Id: <strong data-bind="text: id"></strong></div>
                        <div>Address: <strong data-bind="text: address"></strong></div>
                        <div>Active: <strong data-bind="text: active"></strong></div>
                    </li>
                </ul>
            </div>
        </div>
    </script>
</div>
@section scripts
{
<script>
    require(["ViewModels/Activity", "ViewModels/Activities"], function (activityViewModel, activitiesViewModel) {
        $(document).ready(function () {
            $.ajax({
                url: "http://localhost:29196/activity/",
                context: document.body
            }).done(function (data) {

                // Overall viewmodel for this screen, along with initial state
                activeActivities = new activitiesViewModel(data);
                //ko.cleanNode($("#locationsPage")[0]);
                ko.applyBindings(activeActivities, document.getElementById("activitiesPage"));
            });
        });
    });
</script>
}