<div id="activitiesPage">
    <div class="col-md-3" style="margin-top:3%">
        <h2 style="text-align:right;">Add Activity</h2>

        <form data-bind="submit: addActivity" style="text-align:right">
            Name:<br /> <input id="activityNameInputBox" type="text" name="Name"><br>
            Day Of Week:<br /> <select id="dayOfWeekInputBox" name="DayOfWeek" style="width: 215px">
                <option value="Monday">Monday</option>
                <option value="Tuesday">Tuesday</option>
                <option value="Wednesday">Wednesday</option>
                <option value="Thursday">Thursday</option>
                <option value="Friday">Friday</option>
            </select><br>
            Time:<br /> <input class="input-small add-on" id="activityDatePicker" type="text" name="Time"><br>
            Select Location:<br /> <select style="color: black; width: 215px" id="locationsDropdown" name="LocationId"></select><br>
            Active:<br /> <input id="activityActiveFlag" type="checkbox" name="Active" value="off"><br>
            Preferred Players:<br /> <input id="preferredPlayersInputBox" type="text" name="PreferredNumberOfPlayers1"><br>
            Required Players:<br /> <input id="requiredPlayersInputBox" type="text" name="RequiredNumberOfPlayers1"><br>
            <br /><br />
            <button class="btn btn-primary btn" type="submit" style="color:blue;">Submit</button>
            <br /><br />
            <button class="btn btn-primary btn" id="toggleBetweenActivitiesButton" data-bind="click: $root.showInactiveActivities" style="color:blue;">See Inactive</button>
            <br><br>
        </form>

        <script>
            $(document).ready(function () { $("#locationsDropdown").select2(); });
        </script>
    </div>
    <div id="Canvas" class="col-md-7" style="margin-top:5%;">
        <div data-bind="template: { name: 'activitiesTempl' }"></div>
    </div>
    <script id="activitiesTempl" type="text/html">
        <div data-bind="foreach: activities">
            <div class="well">
                <!--TODO: Make these two buttons sexy looking-->
                <button class="btn btn-primary btn" data-bind="attr: { id : id }, click: $root.toggleActiveActivity" style="color:blue;">Toggle Active</button>
                <button class="btn btn-primary btn" data-bind="click: $root.showUpdateActivityModal" data-toggle="modal" data-target="#updateActivityDetailsModal">Update</button>
                <button class="btn btn-primary btn" data-bind="attr: { id : 'sportName_' + id() }, click: $root.hideActivityDetails" style="color:blue;">Details</button>
                <button class="btn btn-primary btn" data-bind="attr: { id : id }, click: $root.deleteActivity" style="color:blue;">Delete</button>
                <h3>Name: <strong data-bind="text: name"></strong></h3>

                <ul data-bind="attr: { id : 'activityDetails_' + id() }" style="display:none">
                    <li>
                        <div>Id: <strong data-bind="text: id"></strong></div>
                        <div>Day Of The Week: <strong data-bind="text: dayOfWeek"></strong></div>
                        <div>Time: <strong data-bind="text: time"></strong></div>
                        <div>Location: <strong data-bind="text: locationId"></strong></div>
                        <div>Active: <strong data-bind="text: active"></strong></div>
                        <div>Preferred Players: <strong data-bind="text: preferredNumberOfPlayers"></strong></div>
                        <div>Required Players: : <strong data-bind="text: requiredNumberOfPlayers"></strong></div>
                    </li>
                </ul>
            </div>
        </div>
    </script>
    <!-- Modal -->
    <div class="modal fade" id="updateActivityDetailsModal" tabindex="-1" role="dialog" aria-labelledby="updateLocationDetailsModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="updateLocationDetailsModalLabel">Update Activity</h4>
                </div>
                <form data-bind="submit: updateActivityModal">
                    <div style="margin:5%">
                        <input id="modalActivityIdHiddenInputBox" type="hidden" name="ActivityId">
                        Name:<br /> <input id="modalActivityNameInputBox" type="text" name="Name"><br>
                        Day Of Week:<br /> <input id="modalDayOfWeekInputBox" type="text" name="DayOfWeek"><br>
                        Time:<br /> <input class="input-small add-on" id="modalActivityDatePicker" type="text" name="Time"><br>
                        Select Location:<br /> <select style="color: black; width: 174px" id="modalLocationsDropdown" name="LocationId"></select><br>
                        Active:<br /> <input id="modalActivityActiveFlag" type="checkbox" name="Active" value="off"><br>
                        Preferred Players:<br /> <input id="modalPreferredPlayersInputBox" type="text" name="PreferredNumberOfPlayers1"><br>
                        Required Players:<br /> <input id="modalRequiredPlayersInputBox" type="text" name="RequiredNumberOfPlayers1"><br>
                    </div>
                    <div class="clear modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save changes</button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>
@section scripts
{
    <script>
        require(["ViewModels/Activity", "ViewModels/Activities"], function (activityViewModel, activitiesViewModel) {

            $(document).ready(function () {
                $.blockUI({
                    css: {
                        border: 'none',
                        padding: '15px',
                        backgroundColor: '#000',
                        '-webkit-border-radius': '10px',
                        '-moz-border-radius': '10px',
                        opacity: .5,
                        color: '#fff'
                    }
                });
                $.ajax({
                    url: "http://localhost:29196/activity/",
                    context: document.body
                }).done(function (data) {

                    // Overall viewmodel for this screen, along with initial state
                    //activeActivities = new activitiesViewModel(data);

                    activities = new activitiesViewModel(data);
                    activities.populateActivityDropdown();
                    //ko.cleanNode($("#locationsPage")[0]);
                    ko.applyBindings(activities, document.getElementById("activitiesPage"));
                    sessionStorage.setItem("viewingActiveActivities", true)

                    $('#activityDatePicker').timepicker({
                        defaultTime: 'current',
                        minuteStep: 1,
                        disableFocus: true,
                        template: 'dropdown'
                    });

                    setTimeout($.unblockUI, 500);

                    // *** Helper Functions For Form ***
                    $('#activityDatePicker').change(function () {
                        $('#activityDatePicker').attr("value", $('#activityDatePicker').val());
                    })

                    $('#activityActiveFlag').click(function () {
                        var isChecked = $(this).prop("checked")

                        if (isChecked)
                            $(this).attr("value", "on")
                        else
                            $(this).attr("value", "off")
                    })

                    $('#modalActivityActiveFlag').click(function () {
                        var isChecked = $(this).prop("checked")

                        if (isChecked)
                            $(this).attr("value", "on")
                        else
                            $(this).attr("value", "off")
                    })
                    // ************************************
                    //$('#activityActiveFlag').click(function () {
                    //    console.log(this)
                    //    $(this).checked(true);
                    //})
                });
            });
        });
    </script>
}