<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS, and JavaScript.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET Web API is a framework that makes it easy to build HTTP services that reach
            a broad range of clients, including browsers and mobile devices. ASP.NET Web API
            is an ideal platform for building RESTful applications on the .NET Framework.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301870">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Testing Knockout View Model - One Item</h2>
        <p>ID: <strong data-bind="text: id"></strong></p>
        <p>Name: <strong data-bind="text: name"></strong></p>
        <p>Address: <strong data-bind="text: address"></strong></p>
        <p>Active: <strong data-bind="text: active"></strong></p>
        
        <button id="locationGET" type="button">Get Location</button>
    </div>
    <div class="col-md-4">
        <h2>Testing Knockout View Model - An Observable Array!</h2>

        <ul data-bind="template: { name: 'tagsTempl' }"></ul>

        <button id="locationGETActive" type="button">Get Active Locations</button>

        <script id="tagsTempl" type="text/html">
            <li class="tagItem">
                <p>Name: <strong data-bind="text: name"></strong></p>
                <p>Address: <strong data-bind="text: address"></strong></p>
            </li>
        </script>
    </div>
</div>

<!-- This will move these codes to ze layout page -->
@section scripts
{
    <script>
        require(["ViewModels/Location"], function(locationViewModel) {
            $('#locationGET').click(function() {
                $.ajax({
                    url: "http://localhost:29196/location/2",
                    context: document.body
                }).done(function(data) {
                    var location = new locationViewModel(data);
                    ko.applyBindings(location);
                });
            });
        });

        require(["ViewModels/Location"], function(locationsViewModel) {
            //$('#locationGETActive').click(function() {
            //    $.ajax({
            //        url: "http://localhost:29196/location/",
            //        context: document.body
            //    }).done(function(data) {
            //        var locations = new locationsViewModel(data);
            //        ko.applyBindings(locations);
            //    });
            //});

            $('#locationGETActive').click(function() {
                $.ajax({
                    url: "http://localhost:29196/location/",
                    context: document.body
                }).done(function(data) {
                    // ****************************** Code From Web Tutorial ******************************

                    // Overall viewmodel for this screen, along with initial state
                    function LocationsViewModel(data) {
                        var self = this;

                        // Editable data
                        self.seats = ko.observableArray([
                            new Location(data[0]),
                            new Location(data[1])
                        ]);
                    }

                    ko.applyBindings(new LocationsViewModel(data));

                    // ****************************** End Code From Web Tutorial ******************************
                });
            });
        });
    </script>
}
