<div id="Canvas" class="col-md-10" style="margin-top:5%;">
    <h2>Sports Hub Dashboard</h2>
    <h5>Time You've Attended Volleyball</h5>
    <div class="chart">
        <p style="display:inline;">On Mondays:</p><div style="width: 40px;">4</div>
        <p style="display:inline;">On Tuedays:</p><div style="width: 80px;">8</div>
        <p style="display:inline;">On Wednesdays:</p><div style="width: 150px;">15</div>
        <p style="display:inline;">On Thursdays:</p><div style="width: 160px;">16</div>
        <p style="display:inline;">On Fridays:</p><div style="width: 230px;">23</div>
</div>
</div>

@section scripts
{
    <style>
        .chart div {
            font: 10px sans-serif;
            background-color: steelblue;
            text-align: right;
            padding: 3px;
            margin: 1px;
            color: white;
        }
    </style>
}