<!--TODO: Add code such that the sizes where it is messed up (Between 480x800 and  768x1280 inclusive) then the form is rendered differently)-->
@*<div id="locationsPage">
    <div class="col-md-3" style="margin-top:3%">
        <h2 style="text-align:right;">Add Location</h2>
        <div class="form_wrap">
            <form data-bind="submit: addLocation" style="text-align:right">

                <label id="UpdateLocationName">Location Name<em>*</em></label>
                <div class="i">
                    <input id="nameInputBox" type="text"  placeholder="New Location Name..." name="name">
                </div>

                <label id="UpdateLocationAddress">Location Address<em>*</em></label>
                <div class="i">
                    <input id="addressInputBox" type="text" name="address"  placeholder="New Location Address...">
                </div>

                Active<br /><input id="locationActiveFlag" type="checkbox" name="Active" value="off">
                <br /><br />
                <button class="btn btn-primary btn-lg glyphicon glyphicon-plus" type="submit"></button>
                <button class="btn btn-primary btn-lg glyphicon glyphicon-list-alt" id="toggleBetweenLocationsButton" data-bind="click: $root.showInactiveLocations"> See Inactive</button>
                <br><br>
            </form>
        </div>
    </div>
    <div id="Canvas" class="col-md-6" style="margin-top:5%;">
        <div data-bind="template: { name: 'locationsTempl' }"></div>
    </div>
    <script id="locationsTempl" type="text/html">
        <div data-bind="foreach: locations">
            <div class="well">
                <!--TODO: Make these two buttons sexy looking-->
                <button class="btn btn-primary btn-lg glyphicon glyphicon-info-sign" data-bind="attr: { id : 'sportName_' + id() }, click: $root.hideDetails "></button>
                <button class="btn btn-primary btn-lg glyphicon glyphicon-flag" data-bind="attr: { id : id }, click: $root.toggleActive"></button>
                <button class="btn btn-primary btn-lg glyphicon glyphicon-pencil" data-bind="click: $root.showUpdateLocationModal" data-toggle="modal" data-target="#updateLocationDetailsModal"></button>
                @*<button class="btn btn-primary btn-lg glyphicon glyphicon-trash" data-bind="attr: { id : id }, click: $root.deleteLocation"></button>
                <h3>Name: <strong data-bind="text: name"></strong></h3>

                <ul data-bind="attr: { id : 'sportDetails_' + id() }" style="display:none">
                    <li>
                        <div>Id: <strong data-bind="text: id"></strong></div>
                        <div>Address: <strong data-bind="text: address"></strong></div>
                        <div>Active: <strong data-bind="text: active"></strong></div>
                    </li>
                </ul>
            </div>
        </div>
    </script>

    <!-- Modal -->
    <div class="modal fade" id="updateLocationDetailsModal" tabindex="-1" role="dialog" aria-labelledby="updateLocationDetailsModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="updateLocationDetailsModalLabel">Update Location</h4>
                </div>
                <div class="form_wrap">
                    <form id="UpdateLocationForm" data-bind="submit: updateLocation">
                        <input id="modalLocationIdHiddenInputBox" type="hidden" name="LocationId">

                        <label id="UpdateLocationFormLabel">Location Name<em>*</em></label>
                        <div class="i">
                            <input id="modalLocationNameInputBox" type="text"  placeholder="New Location Name..." name="name">
                        </div>

                        <label id="UpdateLocationAddressFormLabel">Location Address<em>*</em></label>
                        <div class="i">
                            <input id="modalLocationAddressInputBox" type="text" name="address"  placeholder="New Location Address...">
                        </div>

                        <label id="UpdateLocationFormActiveFieldLabel">Active</label>
                        <div class="i">
                            <input id="modalActiveStatusHiddenInputBox" type="checkbox" name="active">
                        </div>


                        <div class="clear modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Save changes</button>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>*@

<div id="locationsPage">
    <div class="container">
        <div class="row">
            <div class="col-md-4 item-list">
                <h3>
                    Locations
                </h3>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Location Name (Address)</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody data-bind="foreach: locations">
                        <!-- ko if: isBeingViewed -->
                        <tr class="info" data-bind="click: ToggleBeingViewed">
                            <td data-bind="text: namePlace"></td>
                            <!-- ko if: active -->
                            <td class="text-success">Active</td>
                            <!-- /ko -->
                            <!-- ko ifnot: active -->
                            <td class="text-muted">Inactive</td>
                            <!-- /ko -->
                        </tr>
                        <!-- /ko -->
                        <!-- ko ifnot: isBeingViewed -->
                        <tr data-bind="click: ToggleBeingViewed">
                            <td data-bind="text: namePlace"></td>
                            <!-- ko if: active -->
                            <td class="text-success">Active</td>
                            <!-- /ko -->
                            <!-- ko ifnot: active -->
                            <td class="text-muted">Inactive</td>
                            <!-- /ko -->
                        </tr>
                        <!-- /ko -->

                    </tbody>
                </table>
                <button class="btn btn-default" data-bind="click: CreateLocation">Create Location</button>
            </div>
            <!-- ko if: NoneBeingViewed -->
            <div class="col-md-8">
                <h3>No Location Selected</h3>
                <p>Select a location from the list on the left to view or modify it's details or click on Create Location to add a new location.</p>
            </div>
            <!-- /ko -->
            <!-- ko if: createLocation -->
            <form data-bind="submit: $root.updateLocation">
                <div class="col-md-8">
                    <input id="locationIdHiddenInputBox" type="hidden" name="ActivityId" data-bind="value: id">
                    <h3>(new location)</h3>
                    <hr />
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Activity name</label>
                                <input class="form-control" data-bind="value: name" />
                            </div>
                            <div class="form-group">
                                <label>Address</label>
                                <input class="form-control" data-bind="value: address" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Status</label>
                                <div>
                                    <div class="radio-inline">
                                        <span>
                                            <input type="radio" value="on" checked name="optionsRadios">
                                            Active
                                        </span>
                                    </div>
                                    <div class="radio-inline">
                                        <span>
                                            <input type="radio" value="off" name="optionsradios">
                                            Inactive
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </form>
            <!-- /ko -->
            <!-- ko foreach: locations -->
            <!-- ko if: isBeingViewed -->
            <form data-bind="submit: $root.updateLocation">
                <div class="col-md-8">
                    <input id="locationIdHiddenInputBox" type="hidden" name="ActivityId" data-bind="value: id">
                    <h3 data-bind="text: name"></h3>
                    <hr />
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Location name</label>
                                <input class="form-control" data-bind="value: name" />
                            </div>
                            <div class="form-group">
                                <label>Address</label>
                                <input class="form-control" data-bind="value: address" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Status</label>
                                <div>
                                    <!-- ko if: active -->
                                    <div class="radio-inline">
                                        <span>
                                            <input type="radio" value="on" checked name="optionsRadios">
                                            Active
                                        </span>
                                    </div>
                                    <div class="radio-inline">
                                        <span>
                                            <input type="radio" value="off" name="optionsradios">
                                            Inactive
                                        </span>
                                    </div>
                                    <!-- /ko -->
                                    <!-- ko ifnot: active -->
                                    <div class="radio-inline">
                                        <span>
                                            <input type="radio" value="on" name="optionsRadios2">
                                            Active
                                        </span>
                                    </div>
                                    <div class="radio-inline">
                                        <span>
                                            <input type="radio" value="off" checked name="optionsradios2">
                                            Inactive
                                        </span>
                                    </div>
                                    <!-- /ko -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </form>
            <!-- /ko -->
            <!-- /ko -->
        </div>
    </div>
</div>
@section scripts
{
    <script>
        require(["ViewModels/Location", "ViewModels/Locations"], function (locationViewModel, locationsViewModel) {
            var data;

            // Call to get all active locations
            $(document).ready(function () {
                $.blockUI({
                    css: {
                        border: 'none',
                        padding: '15px',
                        backgroundColor: '#000',
                        '-webkit-border-radius': '10px',
                        '-moz-border-radius': '10px',
                        opacity: .5,
                        color: '#fff'
                    }
                });

                $.ajax({
                    url: window.appWideServiceURL + "location/all",
                    context: document.body
                }).done(function (data) {

                    // Overall viewmodel for this screen, along with initial state
                    activeLocations = new locationsViewModel(data);

                    window.viewModels = {
                    };

                    window.viewModels.locationViewModel = activeLocations;

                    ko.applyBindings(window.viewModels.locationViewModel, document.getElementById("locationsPage"));
                    sessionStorage.setItem("viewingActiveLocations", true)

                    $('#activityActiveFlag').click(function () {
                        var isChecked = $(this).prop("checked")

                        if (isChecked)
                            $(this).attr("value", "on")
                        else
                            $(this).attr("value", "off")
                    })

                    setTimeout($.unblockUI, 500);
                });
            });

            $('#locationActiveFlag').click(function () {
                var isChecked = $(this).prop("checked")

                if (isChecked)
                    $(this).attr("value", "on")
                else
                    $(this).attr("value", "off")
            })

            $('#modalActiveStatusHiddenInputBox').click(function () {
                var isChecked = $(this).prop("checked")

                if (isChecked)
                    $(this).attr("value", "on")
                else
                    $(this).attr("value", "off")
            })
        });
    </script>
}
