<!--TODO: Add code such that the sizes where it is messed up (Between 480x800 and  768x1280 inclusive) then the form is rendered differently)-->
<div id="locationsPage">
    <div class="col-md-3" style="margin-top:3%">
        <h2 style="text-align:right;">Add Location</h2>

        <form data-bind="submit: addLocation" style="text-align:right">
            Name:<br /> <input id="nameInputBox" type="text" name="name"><br>
            Address:<br /> <input id="addressInputBox" type="text" name="address"><br>
            Active<br /><input type="checkbox" name="active">
            <br /><br />
            <button class="btn btn-primary btn" type="submit" style="color:blue;">Submit</button>
            <br /><br />
            <button class="btn btn-primary btn" id="toggleBetweenLocationsButton" data-bind="click: $root.showInactiveLocations" style="color:blue;">See Inactive</button>
            <br><br>
        </form>
    </div>
    <div id="Canvas" class="col-md-6" style="margin-top:5%;">
        <div data-bind="template: { name: 'locationsTempl' }"></div>
    </div>
    <script id="locationsTempl" type="text/html">
        <div data-bind="foreach: locations">
            <div class="well">
                <!--TODO: Make these two buttons sexy looking-->
                <button class="btn btn-primary btn" data-bind="attr: { id : id }, click: $root.toggleActive" style="color:blue;">Toggle Active</button>
                <button class="btn btn-primary btn" data-bind="click: $root.showUpdateLocationModal" data-toggle="modal" data-target="#updateLocationDetailsModal">Update</button>
                <button class="btn btn-primary btn" data-bind="attr: { id : 'sportName_' + id() }, click: $root.hideDetails " style="color:blue;">Details</button>
                <button class="btn btn-primary btn" data-bind="attr: { id : id }, click: $root.deleteLocation" style="color:blue;">Delete</button>
                <h3>Name: <strong data-bind="text: name"></strong></h3>

                <ul data-bind="attr: { id : 'sportDetails_' + id() }" style="display:none">
                    <li>
                        <div>Id: <strong data-bind="text: id"></strong></div>
                        <div>Address: <strong data-bind="text: address"></strong></div>
                        <div>Active: <strong data-bind="text: active"></strong></div>
                    </li>
                </ul>
            </div>
        </div>
    </script>

    <!-- Modal -->
    <div class="modal fade" id="updateLocationDetailsModal" tabindex="-1" role="dialog" aria-labelledby="updateLocationDetailsModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="updateLocationDetailsModalLabel">Update Location</h4>
                </div>
                <form data-bind="submit: updateLocation">
                    <input id="modalLocationIdHiddenInputBox" type="hidden" name="LocationId">
                    <p style="margin:5%"> Name:    <br /><input id="modalLocationNameInputBox" type="text" name="name"><br></p>
                    <p style="margin:5%"> Address: <br /><input id="modalLocationAddressInputBox" type="text" name="address"><br></p>
                    <input id="modalActiveStatusHiddenInputBox" type="hidden" name="active">
                    <div class="clear modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save changes</button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>
@section scripts
{
    <script>
        require(["ViewModels/Location", "ViewModels/Locations"], function (locationViewModel, locationsViewModel) {
            var data;
            // Call to get one location
            //$('#locationGET').click(function () {
            //    $.ajax({
            //        url: "http://localhost:29196/location/1",
            //        context: document.body
            //    }).done(function (data) {
            //        var location = new locationViewModel(data);
            //        ko.applyBindings(location);
            //    });
            //});

            //$('#locationGETActive').click(function () {
            //    $.ajax({
            //        url: "http://localhost:29196/location/",
            //        context: document.body
            //    }).done(function (data) {

            //        // Overall viewmodel for this screen, along with initial state
            //        activeLocations = new locationsViewModel(data);
            //    });
            //});

            // Call to get all active locations
            $(document).ready(function () {
                $.blockUI({
                    css: {
                        border: 'none',
                        padding: '15px',
                        backgroundColor: '#000',
                        '-webkit-border-radius': '10px',
                        '-moz-border-radius': '10px',
                        opacity: .5,
                        color: '#fff'
                    }
                });

                $.ajax({
                    url: "http://localhost:29196/location/",
                    context: document.body
                }).done(function (data) {

                    // Overall viewmodel for this screen, along with initial state
                    activeLocations = new locationsViewModel(data);

                    ko.applyBindings(activeLocations, document.getElementById("locationsPage"));
                    sessionStorage.setItem("viewingActiveLocations", true)
                    setTimeout($.unblockUI, 0);
                });
            });



            //$('div[id^="sportDetails_"]').click(function () {
            //    alert('a')
            //    $('#sportDetails').toggle();
            //})



            //$('#postLocation').click(function () {
            //    $.ajax({
            //        url: "http://localhost:29196/location/",
            //        context: document.body,
            //        type: 'POST',
            //        data: "name:Jota"
            //    });
            //})
        });
    </script>
}